.table-container {
    margin: 20px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
th, td {
    border: 1px solid lightgray;
    padding: 8px;
    text-align: left;
}  

th {
    background-color: #f2f2f2;
}

li{
    padding-bottom: 10px;
}
  
tr:hover {
    background-color: #edecec8a;
}  

.chart-title {
    text-align: center;
}

.barchart {
    margin: auto;
    width: 50vw !important;
    height: 50vh !important;
}

.header {
    display: flex;
    align-items: center;
}

.add-movie-button{
    margin-left: 15px;
    font-size: 17px;
}

.add-movie-button:hover{
    background-color: lightgray;
}